<div [class]="'theme-wrapper ' + (theme$ | async)">
  <mat-sidenav-container class="sidenav-container" fullscreen>
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" *ngIf="!isSideMenuHidden"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
      <mat-toolbar>{{ 'anms.title.short' | translate }}</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item *ngFor="let menuItem of navigationSideMenu" [routerLink]="menuItem.link"
          routerLinkActive="active">{{menuItem.label | translate}}</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="dc.first.toggle()"
          *ngIf="(isHandset$ | async) && !isSideMenuHidden">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="spacer">{{ 'anms.title.long' | translate }}</span>
        <button mat-button mat-stroked-button *ngIf="!(isAuthenticated$ | async)" (click)="onLoginClick()">
          {{ 'anms.menu.login' | translate }}
        </button>

        <button *ngIf="(isAuthenticated$ | async)" mat-icon-button [matMenuTriggerFor]="toolbarUserMenu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #toolbarUserMenu="matMenu">
          <button mat-menu-item (click)="onLogoutClick()">
            <mat-icon>power_off</mat-icon>
            <span>{{ 'anms.menu.logout' | translate }}</span>
          </button>
        </mat-menu>

        <button mat-icon-button routerLink="settings" class="d-none d-sm-inline">
          <mat-icon>settings</mat-icon>
        </button>
      </mat-toolbar>
      <router-outlet #o="outlet"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>